$danube-50: #f3f8fb;
$danube-100: #e5eef4;
$danube-200: #d0e2ed;
$danube-300: #b0cfe0;
$danube-400: #8ab5d0;
$danube-500: #6e9cc3;
$danube-600: #648db9;
$danube-700: #5074a5;
$danube-800: #466087;
$danube-900: #3b506d;
$danube-950: #283343;